@page
@using System.Text

@model KeepOnRipping.Pages.ArticleModel
@{
    ViewData["Title"] = "Article";
}

<div id="article">
    @if ( @Model.ArticleResponse.IsOk == false )
    {
        string encodedError = Convert.ToBase64String(Encoding.UTF8.GetBytes(@Model.ArticleResponse.HtmlContent));
        Response.Redirect($"/Error?error={encodedError}");
    }
    else
    {
        if (@Model.ArticleResponse.IsSharedUrl == false)
        {
            @Html.Raw(@Model.ArticleResponse.HtmlContent)
            <script>window.onload = function(){ document.getElementById("shareurl").href = "/Article?EncodedUrl=@Model.ShareUrl" }</script>
        }
        else
        {
            <script>window.onload = function(){ document.forms['redirectForm'].submit() }</script>
            <form name="redirectForm" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="articleURL" value="@Model.DecodedUrl"><br>
            </form>
        }
    }
</div>